name: Create feed of annoying websites without feeds

on:
  schedule:
    - cron: '5 */2 * * *' 
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: update-pages
  cancel-in-progress: false

jobs:
  generate-rss-feed:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Generate RSS feed
      working-directory: sparta_main
      run: |
        pip install -r requirements.txt
        python generate_feed.py
 
    - name: Generate RSS feed
      working-directory: sparta_kids
      run: |
        pip install -r requirements.txt
        python generate_feed.py

    - name: Generate RSS feed
      working-directory: kia_updates
      run: |
        pip install -r requirements.txt
        python generate_feed.py

    - name: Setup Pages
      uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

    - name: Upload artifact
      uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
      with:
        # Upload entire repository
        path: '.'

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
